.App{
  background-color: #EDF1D6;
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title{
  letter-spacing: 4px;
  font-size: 36px;
  font-weight: 400;
}

.container{
  width: 30%;
  min-height: 300px;
  background-color: #fff;
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.patient-btn, .admin-btn, .reservar-btn, .cambiar-btn{
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  color: #FFF;
  background-color: #9DC08B;
  padding: 20px 40px;
  border-radius: 10px;
}

.reservas{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 500px;
}