.App{
  background-color: #EDF1D6;
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title{
  letter-spacing: 4px;
  font-size: 36px;
  font-weight: 400;
}

.container{
  width: 30%;
  min-height: 300px;
  background-color: #fff;
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.container-admin{
  width: 75%;
  min-height: 400px;
  background-color: #fff;
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.patient-btn, .admin-btn, .reservar-btn, .cambiar-btn{
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  color: #FFF;
  background-color: #9DC08B;
  padding: 20px 40px;
  border-radius: 10px;
}

.reservas{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 500px;
}


.formulario-reserva{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 30px;
  align-items: center;
}

.input-buscarcita{
  padding: 7px;
  border: 1px solid #bdbdbd
}

.input-buscarcita:focus{
  border: 1px solid #bdbdbd;
  outline: none;
}

.boton-buscarcita{
  padding: 7px 15px;
  margin-left: 20px;
  cursor: pointer;
}

.formulario-cambio{
  margin-top: 30px;
  width: 100%;
  display: flex;
  gap: 30px;
}

.cambio-paciente{
  display: flex;
  flex-direction: column;
}

.cambio-paciente input{
  padding: 7px;
  border: 1px solid #bdbdbd
}

.cambio-paciente input:focus{
  border: 1px solid #bdbdbd;
  outline: none;
}

.actualizar-cancelar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.actualizar-cita{
  padding: 10px 15px;
  background-color: #0069D9;
  border: none;
  color: #FFF;
  cursor: pointer;
}

.cancelar-cita{
  padding: 10px 15px;
  background-color: #C82333;
  border: none;
  color: #FFF;
  cursor: pointer;
}

.actualizar-cita:hover, .cancelar-cita:hover{
  opacity: .85;
}

.datos-paciente{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 50%;
  box-sizing: border-box;
  padding: 0 20px 0 0;
  gap: 5px;
}

.datos-paciente input{
  padding: 7px;
  border: 1px solid #bdbdbd
}

.datos-paciente input:focus{
  border: 1px solid #bdbdbd;
  outline: none;
}

.citas-disponibles{
  width: 50%;
  box-sizing: border-box;
}

.titulo-formulario-reserva{
  font-size: 18px;
  font-weight: 500;
}

.btn-reservar{
  margin: auto;
  margin-top: 30px;
  width: 60%;
  padding: 15px;
  background-color: #9DC08B;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  color: #FFF;
  cursor: pointer;
  border-radius: 15px;
}
.btn-reservar:hover{
  opacity: .8;
}

.gracias-id{
  font-size: 24px;
}
.id-cita{
  font-weight: 700;
  font-size: 30px;
}

.fc-daygrid-day{
  cursor: pointer;
}

.texto-cabecera{
  text-align: center;
}
.cto-titulo{
  font-size: 22px;
}

.panel{
  display: flex;
  width: 100%;
  align-items: center;
  gap: 50px;
}

.cuadro-hoy{
  width: 50%;
}
.cuadro-todas{
  width: 50%;
}

table{
  background-color: #fbffe1;
  border-collapse: collapse;
  width: 100%;
}

th{
  background-color: #40513B;
  color: #FFF;
  text-align: left;
}

table, th, td{
  border: 1px solid black;
  padding: 10px;
}
tr:nth-child(odd){
  background-color: #d1d4bd;
}

.formulario-login{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formulario-login input{
  padding: 8px;
  width: 100%;
}

.formulario-login button{
  margin: auto;
  margin-top: 30px;
  width: 60%;
  padding: 15px;
  background-color: #9DC08B;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  color: #FFF;
  cursor: pointer;
  border-radius: 15px;
}

.formulario-login button:hover{
  opacity: .8;
}